.collapsibleContainer
{
	/*
	border: 1px solid #d0d0d6;
    margin-left:1px;
    margin-right:1px;
	padding-top:4px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:4px;
    */
    box-shadow: 1px 1px 2px rgba(100, 100, 110, 0.3);
}

.content > .collapsibleContainer {
	height: auto !important; /* ie 6 will ignore this */
	height: 100%;            /* ie 6 will use this instead of min-height */
/*min-height: 500px;   */     /* ie 6 will ignore this */
/*	border: 2px solid #0f0; */
}

.mvg-panel .panel-heading {	
	background-color: ##2a7faf;
    padding-top:0.6em;
    padding-left:0.4em;
    padding-right:0.4em;
    padding-bottom:0.6em;
    margin-bottom:0em;
    display: block;
    width: auto;
    
	background-image: -moz-linear-gradient(right, #cbcbcb, #eee);
	//background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f6f6), color-stop(1, #d0d0d6));
	 //   filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#f6f6f6', EndColorStr = '#d0d0d6');
	//-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6', EndColorStr='#d0d0d6')";
    
/*    border-bottom: 2px solid #fff;

	display: table;
    width: 99.1%;
	*/
}

.mvg-panel .panel-heading .titleText
{
	background-color: transparent;
    display: inline-block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

.mvg-panel .panel-heading .panel-actions .btn-group {
	margin: 0px 4px;
	
}


.mvg-panel .panel-heading .panel-actions .button {
	opacity: 0.7;
	border: 0px;
	background-position: 0.2em center;
    background-repeat: no-repeat;
    text-indent: 14px;
    background-color: #fff;
    color: #000;
}

.mvg-panel .panel-heading .panel-actions .button.ui-state-active:hover {
	font-weight: bold;
}

.mvg-panel .panel-heading .panel-actions .button.ui-state-disabled {
	opacity: 0.2;
}

.mvg-panel .panel-heading .panel-actions .button:hover {
	opacity: 1.0;
}

.mvg-panel .panel-heading .panel-actions
{	
	cursor:pointer;
    font-size: 90%;
	background-color: transparent;
	float: right;
	display: inline-block;
}

.mvg-panel .panel-heading .panel-actions .button {
    overflow: hidden;
    min-width: 64px;
    min-height: 22px;
    text-align:left;
    padding: 0;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 1px;
    border: none;
    bottom: 0px;
    position: relative;
    float: right;
    
    background-position: 0.2em center;
    background-repeat: no-repeat;
    text-indent: 20px;

       -moz-border-radius: 0em;
    -webkit-border-radius: 0em;
            border-radius: 0em;

}

.mvg-panel .panel-heading .buttons input,
.mvg-panel .panel-heading .buttons a {
	background-color: transparent;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
	padding: 0;
	text-decoration: none;
	border: 0px;
	
}

.mvg-panel .panel-heading .buttons .ui-state-active {
    color: #666666;
	cursor: pointer;
	font-weight: italics;
}

.mvg-panel .panel-heading .buttons .ui-state-disabled {
	color: #888;
	cursor: default;
	font-weight: normal;
}

.mvg-panel .panel-heading .buttons .ui-state-active:hover, 
.mvg-panel .panel-heading .buttons .ui-state-active:focus{
	background-color: #cecece;
	color: #424;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	
	position:relative;
    top:1px;
	
       -moz-box-shadow: 0 0 1px 0px #ccc;
    -webkit-box-shadow: 0 0 1px 0px #ccc;
            box-shadow: 0 0 1px 0px #ccc;
}

.mvg-panel .panel-heading .btn-group .add {	
	background-image: url(../images/icons/page_add.png);
}

.mvg-panel .panel-heading .btn-group .edit {
	background-image: url(../images/icons/page_edit.png);
}

.mvg-panel .panel-heading .btn-group .delete {
	background-image: url(../images/icons/page_delete.png);
}

.mvg-panel .panel-heading .btn-group .save {
	background-image: url(../images/icons/page_save.png);
}

.mvg-panel .panel-heading .btn-group .estimate {
	background-image: url(../images/icons/calculator.png);
}

.mvg-panel .panel-heading .btn-group .export {
	background-image: url(../images/icons/page_excel.png);
}

.mvg-panel .panel-heading .btn-group .mail {
    background-image: url(../images/icons/email_go.png);
}

.mvg-panel .panel-heading .btn-group .cancel {
    background-image: url(../images/icons/page_edit_cancel.png);
}

.mvg-panel .panel-heading .btn-group .listAll {
    background-image: url(../images/icons/text_list_bullets.png);
}

.mvg-panel .panel-heading .btn-group .list {
    background-image: url(../images/icons/text_list_bullets.png);
}

.mvg-panel .panel-heading .btn-group .copy {
    background-image: url(../images/icons/page_copy.png);
}

.mvg-panel .panel-heading .btn-group .submit {
    background-image: url(../images/icons/user_go.png);
}

.mvg-panel .panel-heading .btn-group .approve {
    background-image: url(.."web-app/css/jq.collapsiblePanel.css"/images/icons/accept.png);
}

.mvg-panel .panel-heading .btn-group .reject {
    background-image: url(../images/icons/cancel.png);
}

.mvg-panel .panel-heading .btn-group .cancelSubmit {
    background-image: url(../images/icons/application.png);
}

.mvg-panel .panel-heading .btn-group .restore {
    background-image: url(../images/icons/arrow_refresh.png);
}

.mvg-panel .panel-heading .btn-group .notes {
	background-image: url(../images/icons/note_edit.png);
}

.collapsibleContainerContent
{
	background-color: #f8f9fa;
    padding:10px;
/*    padding-left:0px; */    
}
.collapsibleContainerContent .nav {
	margin-top: 0px;
	margin-bottom: 10px;
}
.cp_content {
	margin: 0 0 0 0;
	padding: 0px;
	/* background-color: #ffffff; */
	/*min-height: 200px; */
}

.cp_content h1 {
	border-bottom: 1px solid #ddd;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}

.collapsibleContainer tr.Summary {
	display:table-row;
}

.collapsibleContainer tr.Detail {
	display:none;
/*	display:table-row;
	*/ 
}

.collapsibleContainer tr.showDetails {
	display:table-row;
}

.collapsibleContainer tr.hideDetails {
	display:none; 
}

.collapsibleContainer .no-display {
    display:none; 
}

/*.parentContainer {
	border: 1px solid #ddd;	
}
*/

.collapsibleContainer .well {
	padding: 15px;
}