@import
	url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic)
	;

@import url(//fonts.googleapis.com/css?family=Kaushan+Script);

html,body {
	overflow-x: hidden !important;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	background: #eee;
}

.header .vyg-logo {
	/*
	display: block;
	float: left;
	margin-top: 0px;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 0 10px;
	line-height: 50px;
	*/
	vertical-align: top;
	text-align: center;
	background-image: url(../images/vyooglogo.png);
	background-repeat: no-repeat;
	height: 60px;
}

.navbar .nav .badge {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	margin: auto !important;
	top: 6px;
	right: 1px;
	font-size: 10px;
	font-weight: normal;
	width: 13px;
	height: 12px;
	line-height: 0.8em;
	text-align: center;
	padding: 1px;
}

.navbar .nav .badge-success {
	background-color: #06b;
}

.navbar .nav .badge-warning {
	background-color: #bc2;
}

.navbar .nav .badge-danger {
	background-color: #f00;
}

/* Header */

body .header {
	/*position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
	background-color: #00c0ef !important;
	height: 100%;
	*/
}


.header>.navbar-default {
	background-color: #00c0ef !important;
}
/* Define 2 column template */
.right-side,.left-side {
	min-height: 100%;
	display: block;
}
/*right side - contins main content*/
.right-side {
	background-color: #f9f9f9;
	margin-left: 220px;
}
/*left side - contains sidebar*/
.left-side {
	position: absolute;
	width: 220px;
	top: 0;
}

@media screen and (min-width: 992px) {
	.left-side {
		top: 50px;
	}
	/*Right side strech mode*/
	.right-side.strech {
		margin-left: 0;
	}
	.right-side.strech>.content-header {
		margin-top: 0px;
	}
	/* Left side collapse */
	.left-side.collapse-left {
		left: -220px;
	}
}
/*Give content full width on xs screens*/
@media screen and (max-width: 992px) {
	.right-side {
		margin-left: 0;
	}
}
/*
    By default the layout is not fixed but if you add the class .fixed to the body element
    the sidebar and the navbar will automatically become poisitioned fixed
*/
body.fixed>.header,body.fixed .left-side,body.fixed .navbar {
	position: fixed;
}

body.fixed>.header {
	top: 0;
	right: 0;
	left: 0;
}

body.fixed .navbar {
	left: 0;
	right: 0;
}

body.fixed .wrapper {
	margin-top: 50px;
}

a {
	color: #3c8dbc;
}

a:hover,a:active,a:focus {
	outline: none;
	text-decoration: none;
	color: #72afd2;
}

body #mainContainer .header {
	background-color: #ffccdd;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11aadd',
		endColorstr='#113355'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#11aadd),
		to(#113355)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #11aadd, #113355);
	/* for firefox 3.6+ */
	background: -ms-linear-gradient(top, #11aadd 0%, #113355 100%);
	background-image: linear-gradient(top, #11aadd, #113355);
}

#mainContainer  .header .navbar-default {
	color: #fff;
	background-color: transparent;
	border: 0px;
	padding: 0px;
	padding-top: 2px;
	margin-top: 2px;
	font-size: 0.92em;
	width: 100%;
	-moz-box-shadow: 0 0.2em 0.2em #332;
	-webkit-box-shadow: 0 0.2em 0.2em #332;
	box-shadow: 0 0.2em 0.2em #332;
}

#mainContainer .header .nav li a {
	font-wieght: normal;
	color: #fff;
	opacity: 0.6;
	background-color: transparent;
}

#mainContainer .header .nav li.active a,
#mainContainer .header .nav>li>a:focus {
	color: #fff;
	opacity: 1.0;
	font-wieght: bold;
}

#mainContainer .header  .nav>li>a:hover
 {
	background-color: transparent;
	font-wieght: bold;
	font-size: 1.0em;
	color: #9d3;
}

#usricon {
	padding-left: 25px;
	background-image: url(../images/icons/user/user_green.png);
	background-repeat: no-repeat;
	background-size: 18px 20px;
	background-position: left center;
}

#hdr_usermenu .btn {
	margin-top: 6px;
	opacity: 0.9;
	color: #fff;
	background-color: transparent;
	border: 0px;
	-moz-box-shadow: 0 0.25em 0.2em #332;
	-webkit-box-shadow: 0 0.25em 0.2em #332;
	box-shadow: 0 0.25em 0.2em #332;
}

#hdr_usermenu .btn:hover {
	opacity: 1.0;
	font-weight: bold;
}

#userpref {
	opacity: 0.9;
	color: #fff;
	background-color: transparent;
	border: 0px;
	font-size: 110%;
	padding: 0.1em 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

#userpref:hover {
	opacity: 1.0;
	font-weight: bold;
	border: 1px;
	-moz-box-shadow: 0 0 0.3em #335;
	-webkit-box-shadow: 0 0 0.3em #335;
	box-shadow: 0 0 0.3em #335;
}

/** Field set **/
fieldset,
.property-list {
	margin: 0.6em 0.25em 0 0.25em;
	padding: 0.6em 0.25em 0 0.25em;
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	display: table;
	margin-top: 0.8em;
	margin-bottom: 0.2em;
	display: block;
	padding-left: 4px;
	padding-right: 4px;
    vertical-align: middle;
}

.fieldcontain label,
.fieldcontain .property-label {
	display: table-row;
    color: #7e7e7e;
	text-align: left;
	*min-width: 10em;
    font-size: 0.8em;
}

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}



/** Field set end... */


/** Errors and Messages **/

/* INPUTS */

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #ddd;
	font-size: 1.05em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #99c;
	outline: 0;
	   -moz-box-shadow: 0 0 0.3em #99d;
	-webkit-box-shadow: 0 0 0.3em #99d;
	        box-shadow: 0 0 0.3em #99d;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}
/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 0em;
	padding: 0.25em;
}

.message {
	background: #fff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}
.message li
{
	list-style: none;
	text-indent: 2.2em;
}
.errors {
	background: #fff;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message ul{
	padding: 0;
}

.errors li {
	list-style: none;
	/* background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat; */
	text-indent: 2.2em;
}

.message {
	/* background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat; */
	text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #f4f4ff;
	border-color: #aaaacc;
	color: #0000cc;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #aaaacc;
	-webkit-box-shadow: 0 0 0.5em #aaaacc;
	        box-shadow: 0 0 0.5em #aaaacc;
}

/** Errors and Messages - end **/

#mainContainer .header .logo {
	padding: 4px;
	background-color: transparent;
	
}

#mainContainer .mainContent {
	background: #fff;
	padding: 1.0em 0em;
}

.footer {
	background: #dedede;
	color: #000;
	clear: both;
	margin: 0;
	padding: 0.2em;
	border-top: 1px solid #ddd;
	font-family: "Arial", "Lucida Grande", "HelveticaNeue",
		"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
		"Helvetica"
}

.footer a {
	color: #252b17;
}

.footer .status {
	clear: both;
	font-size: 0.8em;
	min-height: 1em;
	text-align: right;
}

.footer_status a {
	color: #252b17;
}

.mvg-widget.panel {
  padding: 1px;
  border: none;
  box-shadow: 1px 1px 4px rgba(100, 100, 125, 0.4);
}

.mvg-widget.panel .panel-heading {
        display: block;
        border: none;
}

.mvg-widget.panel .panel-heading .panel-title{
        font-wieght: bold;
}

.mvg-widget.panel .panel-heading .panel-actions{
        opacity: 0.8;
}

.mvg-widget.panel .panel-heading .panel-actions:hover{
        opacity: 1.0;
}

.mvg2-widget.panel .panel-body {
        padding: 4px;
        padding-right: 4px;
}

#mainContainer .header .DocumentList {
	display:block;
    overflow-x:scroll !important;
    overflow-y:hidden;
    width:100%;
    padding: 0 15px;	
}
#mainContainer .header .DocumentList ul{
	white-space:nowrap;
}


#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: block;   /* Allow the centering to work */
	margin: 10 auto;
	overflow-x: scroll;
    //width: 100%;
}

ul#horizontal-style {
    display: table;
    overflow-x: scroll;
    list-style: none;
	padding-top: 20px;
}
ul#horizontal-style li {
    display: table-cell;
    color: #fff;
}
ul#horizontal-style li a {
	display: block;
    text-align: left;
    margin: 0 15px;
    color: #fff;
}

header:before,
header:after {
  content: " ";
  display: table;
}

header:after {
  clear: both;
}

.navbar2 {
  transition: .6s ease-in-out;
  background-size:16px 16px;
  overflow-x: scroll;
  max-height: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.navbar2.show {
  //box-shadow: inset -1px 0 1px rgba(black,0.6);
  max-height: 15em;
}

.navbar2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  text-align: justify;
  //width: 30em;
}


.navbar2 ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.navbar2 ul li {
  //background-color: #161616;
  border-radius: 4px;
  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: "Lucida Grande", "HelveticaNeue", "Arial", 
		"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
		"Helvetica";
  font-size: 0.9rem;
  padding: 0.6em;
  text-align: center;
  min-width: 7.5em;
  margin-left: 2px;
  opacity: 0.95;
  //color: #eef
}

.navbar2 ul li:hover{
  opacity: 1.0; 
}

.navbar2 ul li:hover a{
  color: #fff; 
  text-shadow: 2px 2px 6px #333;
}

.navbar2 ul li:first-child {
  margin-left: 0.5em;
}
.navbar2 ul li:last-child {
  margin-right: 0.5em;
}

.navbar2 ul li a {
  color: #eeeeef;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar2 ul li a i{
  padding-bottom: 3px;
}

.navbar2 ul li a:before {
  display: block;
  font-family: FontAwesome;
  font-weight: normal;
  //font-size: 2rem;
  font-style: normal;
  text-decoration: inherit;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

.navbar2 ul li a i {
  display: block;
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 3rem;
  font-style: normal;
  text-decoration: inherit;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  //text-shadow: 1px 1px 6px #666;
  
}

/* Used nth-childs to allocate icons to keep the HTML markup clean */
/*
li:first-child a:before {
  content: '\f015';
}
li:nth-child(2) a:before {
  content: '\f05a';
}
li:nth-child(3) a:before {
  content: '\f0b1';
}
li:nth-child(4) a:before {
  content: '\f0e0';
}
*/


/* The Menu Nav Button */
/*
.icon-th {
  color: #fff;
  float: right;
  font-size: 2rem;
  margin: 0.3em 0.4em;
}
*/

.panel.mvg-panel {
	margin: 0px 10px;
}

.panel-heading .breadcrumb {
	background-color: transparent;
	display: block;
	font-size: 0.8em;
	padding: 0;
	margin: 0;
}


#homecont{
	float: none;
	width: 980px;
	margin: 0 auto;
}
#homecont #homelft{
	height: auto;
	width: 626px;
	float: left;
	position: relative;
}
#homecont #homergt{
	height: auto;
	width: 354px;
	margin-top: 10px;
	float: right;
	position: relative;
}
.logoin{
	min-height: 210px;
	width:626px;
	padding: 0px;
	margin: 0px;
	background-image: url(../images/vyoogcoactlogofinal.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;	
}

.login-div {
	padding-top: 13px;
}
div#homelft div.logoind{
	height: 210px;
	width:980px;
	background-image: url(../images/bigbanner.png);
	background-repeat: no-repeat;
	background-position: center bottom;	
}
div#homelft div.text_cont{
    height: auto;
	float: left;
	width:600px;	
}
div#homelft div.text_contind{
    height: auto;
	margin: 0 auto;
	width:980px;
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 10px;	
}
div#homergt div.regnbg a{
	text-decoration: none;
	display: block;
	background-image: url(../images/vyoog_img2.png);
	background-repeat: no-repeat;
	background-position: 0px -364px;
	height: 52px;
	width: 252px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 46px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	float: right;
	margin-right: 50px;
	margin-top: 7px;	
}
div#homergt div.regnbg a:hover{
	background-image: url(../images/vyoog_img2.png);
	background-repeat: no-repeat;
	background-position: 0px -417px;
	text-decoration: none;
}
#homecont .bdrbg{
	background-image: url(../images/midbdr.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 20px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	float: left;
	padding-top: 0px;
	width: 980px;
	position: relative;
}
#homecont .prod1{
	float: left;	
	padding-bottom: 10px;
	padding-left: 18px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	margin-top: 0px;
	position: relative;
}
.himg1{	
	width: 305px;	
	float: left;
	margin-right: 15px;	
	height: 154px;
}
.himg1 a{
	background-image: url(../images/vyoog_img2.png);
	background-repeat: no-repeat;
	background-position: 0px -35px;
	display: block;
	text-decoration: none;
	padding-left: 5px;	
	padding-top: 5px;
	cursor:pointer;
	height: 154px;
}
.himg1 a:hover{
	background-image: url(../images/vyoog_img2.png);
	background-repeat: no-repeat;
	text-decoration: none;
	background-position: 0px -203px;
}
div.himg1 p.icon1{

	background-image: url(../images/vyoog_img5.png);
	background-repeat: no-repeat;
	height: 140px;	
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-position: -6px -207px;
	width: 120px;
}
div.himg1 .hpara{
	padding: 5px;
	text-align: justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	font-weight: normal;
	color: #000000;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 130px;	
	float: left;
	margin-top: 3px;
	width: 160px;
	height: 85px;
}
div.himg1 .h6{
    color: #999999;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 134px;
    margin-top: 0;
    width: 140px;
}
div.himg1 p.icon2{

	background-image: url(../images/vyoog_img5.png);
	background-repeat: no-repeat;
	height: 140px;	
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-position: -131px -211px;
	width: 120px;
}
div.himg1 p.icon3{

	background-image: url(../images/vyoog_img5.png);

	background-repeat: no-repeat;
	height: 140px;	
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-position: -258px -207px;
	width: 120px;
}
div.himg1 p.icon4{

	background-image: url(../images/vyoog_img5.png);
	background-repeat: no-repeat;
	height: 140px;	
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-position: -369px -207px;
	width: 120px;
}
div.himg1 p.icon5{

	background-image: url(../images/vyoog_img5.png);
	background-repeat: no-repeat;
	height: 140px;	
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-position: -483px -210px;
	width: 120px;
}
div.himg1 p.icon6{
	background-image: url(../images/vyoog_img5.png);

	background-repeat: no-repeat;
	height: 140px;	
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-position: -597px -207px;
	width: 120px;
}
div.himg1 .readmor {
    color: #FF0000;
    cursor: pointer;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin: -27px auto 0 217px;   
    width: 100px;
}

div#homergt div.logupbg{
	background-image: url(../images/loginup.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 60px;
	width: 354px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 70px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	float: right;
	
}
div#homergt div.logmidbg{
	background-image: url(../images/loginmid.png);
	background-repeat: repeat-y;
	background-position: center top;
	height: auto;
	width: 354px;
	float: right;
}
div#homergt div.logdnbg{
	background-image: url(../images/logindn.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 20px;
	width: 354px;
	float: right;
}
span.hide-text {
  text-indent: 100%;
  display:none;
  white-space: nowrap;
  overflow: hidden;
}
