li.vyg-icon {
	display: block;
	background-repeat: no-repeat;
	background-image: url(../images/vyoog_img.png);
    background-position: 0px 0px; 
  	text-align: center;
 	line-height: 1.7em;
 	vertical-align: middle;
}

li.vyg-icon:hover {
	color: #FF9900;
}

li.vyg-icon.vyg-home {
	background-position: 0px 4px;
}

li.vyg-icon.vyg-about {
	background-position: 0px -66px;
}

li.vyg-icon.vyg-product {
    background-position: 0px -136px; 
}

li.vyg-icon.vyg-support {
    background-position: 0px -206px; 
}

li.vyg-icon.vyg-health {
    background-position: 0px -276px; 
}

li.vyg-icon.vyg-edu {
    background-position: 0px -346px; 
}

li.vyg-icon.vyg-career {
    background-position: 0px -416px; 
}

li.vyg-icon.vyg-fin {
    background-position: 0px -486px; 
}

li.vyg-icon.vyg-link {
    background-position: 0px -556px; 
}

li.vyg-icon.vyg-frien {
    background-position: 0px -626px; 
}

li.vyg-icon.vyg-enter {
    background-position: 0px -696px; 
}

li.vyg-icon.vyg-tra {
    background-position: 0px -766px; 
}

li.vyg-icon.vyg-per {
    background-position: 0px -836px; 
}
